.cfx::after { content: ""; display: table; clear: both; }
.wrapper{
    min-width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
}
.left__menu{
    width: 300px;
    float: left;
    background: #999;
    box-sizing: border-box;
    margin-top: 0;
}
.center__image{
    width: 600px;
    float: left;
    background: yellow;
    box-sizing: border-box;
    height: 300px;
}
.right__menu{
    width: 300px;
    float: left;
    background: #999;
    box-sizing: border-box;
}
li{
    list-style: none;
    margin:2px;
}
input{
    display: inline-block;
    float: right;
    box-sizing: border-box;
    border: 0;
    padding:1px;
    margin:0 2px;
}
.start__button{
    float: left;
    background: green;
    color: #fff;
    padding:10px;
    margin: 5px;
}
.rcu{
    float: left;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
}
.lock__button, .unlock__button, .show__button{
    display: block;
    float: left;
    background: green;
    color: #fff;
    padding:8px;
    margin: 3px;
}
.state, .key{
    display: block;
    background: #eee;
    color: #000;
    padding:10px;
    margin: 5px;
    clear: left;
    border: 2px black solid;
    text-align: center;
}
.wi__stick{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
}
.menu__stick{
    margin: 0 auto;
    width: 240px;
}
.keys{
    display: inline-block;
    margin: 0 auto;
    margin-left:400px;
}
.white{
    background: #fff;
}

